@{
    ViewBag.Title = "Register";
    Layout=null;
}

<!DOCTYPE html>

<html>
<head>
<title>用户注册界面</title>
</head>
<body style="text-align:center">

    <span  style="font-size:25px;">暂不支持自定义用户注册</span>
    <span  style="font-size:25px;">请联系管理员</span>

</body>
</html>