@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="../../LIB/jquery-easyui-1.3.2/themes/default/easyui.css" />
<!--<link rel="stylesheet" type="text/css" href="../../themes/icon.css">-->
<link rel="stylesheet" type="text/css" href="../../LIB/jquery-easyui-1.3.2/themes/icon.css" />
<!--<link rel="stylesheet" type="text/css" href="../demo.css"/>-->
<link rel="stylesheet" type="text/css" href="../../LIB/jquery-easyui-1.3.2/demo/demo.css" />
<!--<script type="text/javascript" src="../../jquery-1.8.0.min.js"></script>-->
<!--<script type="text/javascript" src="../../jquery.easyui.min.js"></script>-->

<script type="text/javascript" src="../../LIB/jquery-easyui-1.3.2/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="../../LIB/jquery-easyui-1.3.2/jquery.easyui.min.js"></script>
<meta name="viewport" content="width=device-width" />

<html>
<head>
    <script type="text/javascript" language="javascript">

    var previous_head = "";
    var head = "";
    function SetHead(hd) {
        previous_head = head;
        SetPrevious_Value("", previous_head);

        var reg = "";
        head = hd;

        $('#' + head + '_serial').keyup(function () {

            reg = "/[^" + head + "yyMMDD]/";
            //  alert(reg);
            reg = eval('(' + reg + ')');

            this.value = this.value.replace(reg, '');

        });
        SetPrevious_Value(head, "");

    }
    function SetHeadRule(previous_head)
    {
        var val = $('#' + previous_head + '_serial').val();
        if (val.split('D').length > 1) {
            // alert("我先走了啊！");

            $('#' + previous_head + '_serial').val(previous_head + "yyMMDD");

            return;
        }
        else if (val.split('M').length > 1) {
            $('#' + previous_head + '_serial').val(previous_head + "yyMM");
        }
        else if (val.split('y').length > 1) {
            $('#' + previous_head + '_serial').val(previous_head + "yy");
        }
        else if (val.split(previous_head).length > 1 || val.split(previous_head).length > 1) {
            $('#' + previous_head + '_serial').val(previous_head);
        }
        else if (previous_head.split(val).length > 1 || previous_head == "" || previous_head == null) {
            $('#' + previous_head + '_serial').val(previous_head);
        }
    }
    function SetPrevious_Value(head, previous_head) {
        if (head != "") {

            $('#' + head + '_serial').mouseleave(function () {
                var val = this.value;
                if (val.split('D').length > 1) {
                    // alert("我先走了啊！");

                    $('#' + head + '_serial').val(head + "yyMMDD");

                    return;
                }
                else if (val.split('M').length > 1) {
                    $('#' + head + '_serial').val(head + "yyMM");
                }
                else if (val.split('y').length > 1) {
                    $('#' + head + '_serial').val(head + "yy");
                }
                else if (val.split(head).length > 1 || val.split(head).length > 1) {
                    $('#' + head + '_serial').val(head);
                }
                else if (head.split(val).length > 1 || head == "" || head == null) {
                    $('#' + head + '_serial').val(head);
                }
            });
        }
        if (previous_head != "") {

            var val = $('#' + previous_head + '_serial').val();
            if (val.split('D').length > 1) {
                // alert("我先走了啊！");

                $('#' + previous_head + '_serial').val(previous_head + "yyMMDD");

                return;
            }
            else if (val.split('M').length > 1) {
                $('#' + previous_head + '_serial').val(previous_head + "yyMM");
            }
            else if (val.split('y').length > 1) {
                $('#' + previous_head + '_serial').val(previous_head + "yy");
            }
            else if (val.split(previous_head).length > 1 || val.split(previous_head).length > 1) {
                $('#' + previous_head + '_serial').val(previous_head);
            }
            else if (previous_head.split(val).length > 1 || previous_head == "" || previous_head == null) {
                $('#' + previous_head + '_serial').val(previous_head);
            }

        }
    }
        function MessShow(mess) {
            $.messager.show({
                title: '提示',
                msg: mess,
                showType: 'slide',
                style: {
                    right: '',
                    top: document.body.scrollTop + document.documentElement.scrollTop,
                    bottom: ''
                }
            });
        }
    function ViewSerial(para) {
        //为登录按钮注册单击事件
       
        $.ajax({

            type: "post",
            url: "/Rule/Index",
            data: { serial: $('#' + para + '_serial').val(), bit: $('#' + para + '_Bits').val() },
            datatype: "json",//数据类型

            success: function (result) {
                MessShow(result.YH_serial);
                
               // alert(result.YH_serial);


            }, error: function (msg) {
                alert("Error");
            }
        });

    }
      
        function myrefresh() {
           
            window.location.reload();
        }
        function LoadRule()
        {
            
          
            $.ajax({

                type: "post",
                url: "/SysSetting/GetFormerRule",
                datatype: "json",//数据类型

                success: function (result) {
                    
                    var rule = "";
                    var bits = "";
                    var head="";
                    var arr_rule = String(result).split('o');
                    for(var i=0;i<arr_rule.length;i++)
                    {
                        head= arr_rule[i].split(',')[0];
                        rule = arr_rule[i].split(',')[1];
                        bits = arr_rule[i].split(',')[2];
                       
                        switch (head) {
                            case "ZC":
                                {
                                  
                                    $('#ZC_serial').val(rule);
                                  
                                    $("#ZC_Bits").find("option:contains('" + bits + "')").attr("selected", true)
                                  
                                }
                                break;
                            case "YH":
                                {
                                    $('#YH_serial').val(rule);
                                    $("#YH_Bits").find("option:contains('" + bits + "')").attr("selected", true)
                                }
                                break;
                            case "LY":
                                {
                                    $('#LY_serial').val(rule);
                                    $("#LY_Bits").find("option:contains('" + bits + "')").attr("selected", true)
                                }
                                break;
                            case "DB":
                                {
                                    $('#DB_serial').val(rule);
                                    $("#DB_Bits").find("option:contains('" + bits + "')").attr("selected", true)
                                }

                                break;
                            case "WX":
                                {
                                    $('#WX_serial').val(rule);
                                    $("#WX_Bits").find("option:contains('" + bits + "')").attr("selected", true)
                                }
                                break;
                            case "JC":
                                {
                                    $('#JC_serial').val(rule);
                                    $("#JC_Bits").find("option:contains('" + bits + "')").attr("selected", true)
                                }
                                break;
                            case "GH":
                                {
                                    $('#GH_serial').val(rule);
                                    $("#GH_Bits").find("option:contains('" + bits + "')").attr("selected", true)
                                }

                                break;
                            case "JS":
                                {
                                    $('#JS_serial').val(rule);
                                    $("#JS_Bits").find("option:contains('" + bits + "')").attr("selected", true)
                                }

                                break;
                            case "QL":
                                {
                                    $('#QL_serial').val(rule);
                                    $("#QL_Bits").find("option:contains('" + bits + "')").attr("selected", true)
                                }
                                break;
                            case "PD":
                                {
                                    $('#PD_serial').val(rule);
                                    $("#PD_Bits").find("option:contains('" + bits + "')").attr("selected", true)
                                }
                                break;
                         
                        }
                     
                    }


                }, error: function (msg) {

                    alert("未能加载规则库！");
                }
            });
        }
        $(document).ready(function () {
            //多选框
            LoadRule();
            $('#Add_Rule_btn').mouseover(function () {

               // alert(head);
                SetHeadRule(head);

            });
        
            //为登录按钮注册单击事件
            $('#Add_Rule_btn').click(function () {
               
                var zc = "ZC" + "," + $("#ZC_serial").val() + "," + $("#ZC_Bits").val();
                var yh = "YH" + "," + $("#YH_serial").val() + "," + $("#YH_Bits").val();
                var ly = "LY" + "," + $("#LY_serial").val() + "," + $("#DB_Bits").val();
                var wx = "WX" + "," + $("#WX_serial").val() + "," + $("#WX_Bits").val();
                var jc = "JC" + "," + $("#JC_serial").val() + "," + $("#JC_Bits").val();
                var gh = "GH" + "," + $("#GH_serial").val() + "," + $("#GH_Bits").val();
                var js = "JS" + "," + $("#JS_serial").val() + "," + $("#JS_Bits").val();
                var ql = "QL" + "," + $("#QL_serial").val() + "," + $("#QL_Bits").val();
                var db = "DB" + "," + $("#DB_serial").val() + "," + $("#DB_Bits").val();
                var pd = "PD" + "," + $("#PD_serial").val() + "," + $("#PD_Bits").val();
                $.ajax({

                    type: "post",
                    url: "/Rule/AddNewRule",
                    // data: {ZC:zc, YH:yh,LY:ly,WX:wx,JC:jc,GH:gh,JS:js,QL:ql,PD:pd},
                    data: { JSON: zc + "o" + yh + "o" + ly + "o" + wx + "o" + jc + "o" + gh + "o" + js + "o" + ql + "o" + pd+"o"+ db},
                    datatype: "json",//数据类型

                    success: function (result) {

                        alert("成功！");


                    }, error: function (msg) {

                        alert(ly);
                    }
                });

            });

           




            //这个地方好像有时候有点问题，标注一下留作以后排查bug.


        







           
        });


   
 
       
            //多选框
           
        
    </script>
    
    <title>规则设置</title>
</head>

<body>
   
    
    <div class="easyui-panel" style="width:700px;height:30px;">

        <a href="#" class="easyui-linkbutton" data-options="menu:'#mm1',iconCls:'icon-save'" id="Add_Rule_btn">提交</a>
        <a href="#" onclick="myrefresh()" class="easyui-linkbutton" data-options="menu:'#mm1',iconCls:'icon-cancel'">重置</a>

    </div>



    <div class="easyui-accordion" style="width:700px;height:550px;">
        <div title="资产编号生成规则" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:10px;">
            <div>

                <label for="ZC_serial">固定资产：<input id="ZC_serial" name="serial" onclick="SetHead('ZC')" type="text" /></label>
                <label for="ZC">
                    流水号位数：
                    <select id="ZC_Bits" name="ZC_Bits">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>

                    </select>
                </label>


                <button id="ZC_serial_btn" name="ZC_serial_btn" type="submit" onclick="ViewSerial('ZC')" class="btn btn-default">预览</button>

            </div>
            <div>
                <label for="YH_serial">低值易耗：<input id="YH_serial" name="serial" onclick="SetHead('YH')" value="YHyyMMDD" type="text" /></label>
                <label for="YH">
                    流水号位数：
                    <select id="YH_Bits" name="YH_Bits">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>

                    </select>
                </label>
                <button id="YH_serial_btn" name="YH_serial_btn" type="submit" onclick="ViewSerial('YH')" class=" btn btn-default">预览</button>
            </div>

        </div>
        <div title="资产类型编号生成规则" data-options="iconCls:'icon-help'" style="padding:10px;">
            <p>固定资产：</p>
            <label>
                一级位数：
                <select id="one">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                二级位数：
                <select id="two">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                三级位数：
                <select id="three">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                四级位数：
                <select id="four">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                五级位数：
                <select id="five">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            <p></p>
            <label>
                六级位数：
                <select id="six">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                七级位数：
                <select id="seven">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                八级位数：
                <select id="eight">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                九级位数：
                <select id="nine">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                十级位数：
                <select id="ten">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            <p></p>
            <a href="#" class="easyui-linkbutton" data-options="menu:'#mm1',iconCls:'icon-search'"  id="ZC_serial_btn">预览</a>
            <p>低值易耗品：</p>
            <label>
                一级位数：
                <select id="yone">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                二级位数：
                <select id="ytwo">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                三级位数：
                <select id="ythree">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                四级位数：
                <select id="yfour">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                五级位数：
                <select id="yfive">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            <p></p>
            <label>
                六级位数：
                <select id="ysix">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                七级位数：
                <select id="yseven">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                八级位数：
                <select id="yeight">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                九级位数：
                <select id="ynine">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            &nbsp; &nbsp;
            <label>
                十级位数：
                <select id="yten">
                    <option selected="selected">2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>

                </select>
            </label>
            <p></p>
            <a href="#" class="easyui-linkbutton" data-options="menu:'#mm1',iconCls:'icon-search'" id="yh_yl">预览</a>

        </div>
        <div title="单据生成规则" data-options="iconCls:'icon-ok'" style="padding:10px;">
            <div>
                <label for="LY_serial">领用单号：<input id="LY_serial" name="LY_serial" type="text" onclick="SetHead('LY')"  /></label>
                <label for="ZC">
                    流水号位数：
                    <select id="LY_Bits">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>

                    </select>
                </label>
                <button id="LY_serial_btn" name="LY_serial_btn" type="submit" onclick="ViewSerial('LY')" class="btn btn-default">预览</button>
            </div>
            <div>
                <label for="DB_serial">调拨单号：<input id="DB_serial" name="DB_serial" type="text" onclick="SetHead('DB')" /></label>
                <label for="ZC">
                    流水号位数：
                    <select id="DB_Bits" name="DB_Bits">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>

                    </select>
                </label>
                <button id="DB_serial_btn" name="DB_serial_btn" type="submit" onclick="ViewSerial('DB')" class="btn btn-default">预览</button>
            </div>
            <div>
                <label for="WX_serial">维修单号：<input id="WX_serial" name="WX_serial" type="text" onclick="SetHead('WX')" /></label>
                <label for="ZC">
                    流水号位数：
                    <select id="WX_Bits">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>

                    </select>
                </label>
                <button id="WX_serial_btn" name="WX_serial_btn" type="submit" onclick="ViewSerial('WX')" class="btn btn-default">预览</button>
            </div>
            <div>
                <label for="JC_serial">借出单号：<input id="JC_serial" name="JC_serial" type="text" onclick="SetHead('JC')" /></label>
                <label for="ZC">
                    流水号位数：
                    <select id="JC_Bits">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>

                    </select>
                </label>
                <button id="JC_serial_btn" name="JC_serial_btn" type="submit" onclick="ViewSerial('JC')" class="btn btn-default">预览</button>
            </div>
            <div>
                <label for="GH_serial">归还单号：<input id="GH_serial" name="GH_serial" type="text" onclick="SetHead('GH')" /></label>
                <label for="GH">
                    流水号位数：
                    <select id="GH_Bits">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>

                    </select>
                </label>
                <button id="GH_serial_btn" name="GH_serial_btn" type="submit" onclick="ViewSerial('GH')" class="btn btn-default">预览</button>
            </div>
            <div>
                <label for="JS_serial">减少单号：<input id="JS_serial" name="JC_serial" type="text" onclick="SetHead('JS')" /></label>
                <label for="ZC">
                    流水号位数：
                    <select id="JS_Bits">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>

                    </select>
                </label>
                <button id="JS_serial_btn" name="JS_serial_btn" type="submit" onclick="ViewSerial('JS')" class="btn btn-default">预览</button>
            </div>
            <div>
                <label for="QL_serial">清理单号：<input id="QL_serial" name="QL_serial" type="text" onclick="SetHead('QL')" /></label>
                <label for="ZC">
                    流水号位数：
                    <select id="QL_Bits">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>

                    </select>
                </label>
                <button id="QL_serial_btn" name="QL_serial_btn" type="submit" onclick="ViewSerial('QL')" class="btn btn-default">预览</button>
            </div>
            <div>
                <label for="PD_serial">盘点单号：<input id="PD_serial" name="PD_serial" type="text" onclick="SetHead('PD')" /></label>
                <label for="ZC">
                    流水号位数：
                    <select id="PD_Bits">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>

                    </select>
                </label>
                <button id="PD_serial_btn" name="PD_serial_btn" type="submit" onclick="ViewSerial('PD')" class="btn btn-default">预览</button>
            </div>

        </div>
        <div title="使用说明" data-options="iconCls:'icon-help'" style="padding:10px;">
            <ul>
                <li>
                    关于编号规则设置：有日DD就必须有月MM、年yy,有月MM就必须有年yy
                </li>
                <li>  格式形如： <font style="color:#0099FF;"> yyMMDD+位数(例如：选择的位数为5)</font>==>201670100001 </li>

                <li>   格式符	输出                    说明</li>
                <li>
                    *******************************************
                </li>
                <li>
                    yyyy	2012		4位数字表示的当前年数
                </li>
                <li>
                    yy	12		2位数字表示的当前年数
                </li>
                <li>
                    MM	01		当前的月份，两位数字，不足位补“0”
                </li>
                <li>
                    mm	1 		当前的月份，不补“0”
                </li>
                <li>
                    DD	10 		月份中的天数，两位数字，不足位补“0”
                </li>
                <li>
                    dd	1 		月份中的天数，不补“0”
                </li>
                <li>
                    HH	15		24小时制表示的当前小时数，不足位补“0”
                <li>
                 
                <li>   NO	00001		 流水号</li>
            </ul>
        </div>
    </div>
</body>
</html>