@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link type="text/css" rel="stylesheet" href="../../CSS/SubPage/SubPageLayout.css" />
    <link rel="StyleSheet" href="../../CSS/dtree/dtree.css" type="text/css" />
	<script type="text/javascript" src="../../Scripts/dtree/dtree.js"></script>
    <script type="text/javascript" src="../../Scripts/SubPage/dtreeView.js"></script>
  

</head>
<body>
   WELCOME
</body>
</html>


