@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑资产</title>

    <link rel="stylesheet" type="text/css" href="../../LIB/jquery-easyui-1.3.2/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="../../LIB/jquery-easyui-1.3.2/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="../../LIB/jquery-easyui-1.3.2/demo/demo.css" />

    <script type="text/javascript" src="../../LIB/jquery-easyui-1.3.2/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="../../LIB/jquery-easyui-1.3.2/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../Scripts/UI/easyui-lang-zh_CN.js"></script>

    <script type="text/javascript" src="../../Scripts/Views/Asset/Asset_detail.js"></script>

    <script type="text/javascript">
        bindData('@ViewBag.id');
    </script>
      <!--[if lte IE 9]>
    <script type="text/javascript" src="../../Scripts/html5shiv.min.js"></script>
    <script type="text/javascript" src="../../Scripts/respond-1.4.2/respond.js"></script>
    <![endif]-->
</head>
<body>
    <div class="easyui-tabs" style="height: 600px">
        <div title="基础资料" data-options="iconCls:'icon-edit',closable:false" fit="true" style="height: 600px">
            <div class="easyui-panel" style="height: 600px;" fit="true">
                <div id="jcsx_add" class="easyui-panel" title="基础属性" style="height: 200px;padding: 1px;"
                    data-options="collapsible:true">
                    <table>
                        <tr>
                            <td>资产编号:</td>
                            <td>
                                <input class="easyui-textbox" placeholder="*自动生成*" id="ZCBH_add" name="ZCBH_add" readonly="readonly" style="width: 146px;" />
                            </td>
                            <td>资产性质:</td>
                            <td>
                                <input class="easyui-textbox" readonly="readonly" id="ZCXZ_add" name="ZCXZ_add" style="width: 146px;" />
                            </td>
                            <td>资产类别:</td>
                            <td>
                                <select class="easyui-combotree" id="ZCLB_add" name="ZCLB_add" style="width: 150px;">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>资产名称:</td>
                            <td>
                                <input class="easyui-textbox" placeholder="请输入资产名称" id="ZCMC_add" name="ZCMC_add" style="width: 146px;" />
                            </td>
                            <td>规格型号:</td>
                            <td>
                                <input class="easyui-combobox" id="ZCXH_add" name="ZCXH_add" style="width: 150px;" />
                            </td>
                            <td>计量单位:</td>
                            <td>
                                <select class="easyui-combobox" id="JLDW_add" name="JLDW_add" style="width: 150px;">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>所在部门:</td>
                            <td>
                                <select class="easyui-combotree" id="SZBM_add" name="SZBM_add" style="width: 150px;">
                                </select>
                            </td>
                            <td>使用人:</td>
                            <td>
                                <select class="easyui-combobox" id="SYRY_add" name="SYRY_add" data-options="editable: false" style="width: 150px;">
                                </select>
                            </td>
                            <td>存放地点:</td>
                            <td>
                                <input class="easyui-combotree" id="CFDD_add" name="CFDD_add" style="width: 150px;" />
                            </td>
                        </tr>
                        <tr>
                            <td>增加方式:</td>
                            <td>
                                <select class="easyui-combobox" id="ZJFS_add" name="ZJFS_add" style="width: 150px;">
                                </select>
                            </td>
                            <td>供应商:</td>
                            <td>
                                <select class="" id="GYS_add" name="GYS_add" style="width: 150px;">
                                </select>
                            </td>
                            <td>联系人:</td>
                            <td>
                                <input class="easyui-textbox" id="LXR_add"  readonly="readonly" data-options="editable: false" name="LXR_add" style="width: 146px;" />
                            </td>
                        </tr>
                        <tr>
                            <td>购置日期:</td>
                            <td>
                                <input class="easyui-datebox" name="GZRQ_add" id="GZRQ_add" data-options="sharedCalendar:'#cc'" style="width: 150px;">
                            </td>
                            <td>供应商地址:</td>
                            <td>
                                <input class="easyui-textbox" id="GYSDD_add" readonly="readonly"  data-options="editable: false" name="GYSDD_add" style="width: 146px;" />
                            </td>
                        </tr>
                         <tr id="vfalse_D">
                            <td>批量添加:</td>
                            <td>
                                <input  type="checkbox" name="Check_PLZJ_add" onclick='showAreaNum_PLTJ_add()' id="Check_PLZJ_add" value="1" />
                            </td>
                            <td><label id="LABEL_PL">添加数量：</label></td>
                            <td>
                               <input class="easyui-textbox"  id="Num_PLTJ_add" name="Num_PLTJ_add" onkeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;" style="width: 146px;" />
                            </td>
                        </tr>
                    </table>
                  
                </div>
                <div id="qtsx_add" class="easyui-panel" title="其他属性" style="height: 150px; padding: 1px;"
                    data-options="collapsible:true">

                    <table>
                        <tr>
                            <td>使用年限(月):</td>
                            <td>
                                <input class="easyui-numberspinner" value="0" id="Other_SYNX_add" name="Other_SYNX_add" data-options="increment:1" style="width: 150px;" />
                            </td>
                            <td>折旧方式:</td>
                            <td>
                                <select class="easyui-combobox" id="Other_ZJFS_add" name="Other_ZJFS_add" style="width: 150px;">
                                </select>
                            </td>
                            <td>净残值率:</td>
                            <td>
                                <input class="easyui-textbox"  id="Other_JCZL_add" name="Other_JCZL_add" style="width: 146px;" />
                            </td>
                        </tr>
                        <tr>
                            <td>资产单价:</td>
                            <td>
                                <input class="easyui-numberbox" value="0" id="Other_ZCDJ_add" name="Other_ZCDJ_add" style="width: 146px;" />
                            </td>
                            <td>资产数量:</td>
                            <td>
                                <input class="easyui-numberbox" value="0" id="Other_ZCSL_add" name="Other_ZCSL_add" style="width: 146px;" />
                            </td>
                            <td>资产价值:</td>
                            <td>
                                <input class="easyui-textbox" readonly="readonly"  id="Other_ZCJZ_add" name="Other_ZCJZ_add" style="width: 146px;" />
                            </td>
                        </tr>
                        <tr>
                            <td>月提折旧:</td>
                            <td>
                                <input class="easyui-textbox"  readonly="readonly" id="Other_YTZJ_add" name="Other_YTZJ_add" style="width: 146px;" />
                            </td>
                            <td>累计折旧:</td>
                            <td>
                                <input class="easyui-textbox"  readonly="readonly" id="Other_LJZJ_add" name="Other_LJZJ_add" style="width: 146px;" />
                            </td>
                            <td>净值:</td>
                            <td>
                                <input class="easyui-textbox"   readonly="readonly" id="Other_JZ_add" name="Other_JZ_add" style="width: 146px;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="zdysx_add" class="easyui-panel" title="自定义属性" style="width: auto; padding: 1px;" fit="true"
                    data-options="collapsible:true" >
                    <div id="CATTR" fit="true"> </div>
                </div>
            </div>
        </div>
        <div title="附件设备" data-options="iconCls:'icon-edit',closable:false" style="padding: 10px; height: 600px" fit="true">
            <table id="TableList_SB" class="easyui-datagrid" style="height: 500px" data-options="border:false,singleSelect:true,fitcolumns:true"></table>
        </div>
        <div title="附属文件" data-options="iconCls:'icon-edit',closable:false" style="padding: 10px; height: 600px">
            <table id="TableList_WJ" class="easyui-datagrid" style="height: 500px" data-options="border:false,singleSelect:true,fitcolumns:true"></table>
        </div>
        <div title="附属图片" data-options="iconCls:'icon-edit',closable:false" style="padding: 10px; height: 600px">
            <table id="TableList_TP" class="easyui-datagrid" style="height:500px" data-options="border:false,singleSelect:true,fitcolumns:true"></table>
        </div>
    </div>
   

</body>
</html>
  